//Container paddings principal
.estadisticas{
		font-size: 0%;
		text-align: center;
		width: 25%;;
		max-width: 345px;
		height: 100%;

		&__img{
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		
	}
	


