/*TAMAÑOS
 pequeño(movil)*/
$sm: 576px;
$md: 768px;
$lg: 992px;

@mixin sm{
	@media only screen and (min-width: $sm){
		@content;
	}
}

@mixin md{
	@media only screen and (min-width: $md){
		@content;
	}
}

@mixin lg{
	@media only screen and (min-width: $lg){
		@content;
	}
}
